@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
    }

    body h1,
    body h2,
    body h3,
    body h4,
    body h5,
    body h6 {
        font-family: 'Marcellus', serif;
        @apply my-5
    }

    .section {
        @apply py-20
    }

    .primary-button {
        @apply border-black border py-4 px-5
    }

    .heading {
        @apply lg:text-5xl md:text-4xl text-3xl
    }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    @apply font-medium mb-2 my-5;
    font-family: 'Marcellus', serif;
}

md.content p {
    @apply mt-2 mb-5 
}

.content h1 {
    @apply text-3xl;
}

.content h2 {
    @apply text-2xl;
}

.content h3 {
    @apply text-xl;
}

.content h4 {
    @apply text-lg;
}

.content p {
    @apply my-2;
}

.content ul, .content ol {
    @apply my-2 list-disc ml-5;
}

.content li {
    @apply my-1;
}
