@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
    }

    body h1,
    body h2,
    body h3,
    body h4,
    body h5,
    body h6 {
        font-family: 'Marcellus', serif;
        @apply my-5
    }

    .section {
        @apply py-20
    }

    .primary-button {
        @apply border-black border py-4 px-5
    }

    .heading {
        @apply lg:text-5xl md:text-4xl text-3xl
    }
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    @apply font-medium mb-2 my-5;
    font-family: 'Marcellus', serif;
}

md.content p {
    @apply mt-2 mb-5 
}

.md-content h1 {
    @apply text-3xl;
}

.md-content h2 {
    @apply text-2xl;
}

.md-content h3 {
    @apply text-xl;
}

.md-content h4 {
    @apply text-lg;
}

.md-content p {
    @apply my-2;
}

.md-content ul, .md-content ol {
    @apply my-2 list-disc ml-5;
}

.md-content li {
    @apply my-1;
}
